body {
    background-color: #D3D3D3;
  }

  h1 {
    color: white;
    text-align: center;
  }

  h2 {
color: #b93939 ; 
}

link {
    color: #000;
}

.img-thumbnail {
    display: block;
   margin-left: auto;
  margin-right: auto;
}

.btn btn-primary {
    background-color: #b93939;
}

#shortinput {
    width: max-content;
}

#Recommendation {
    width: 40%;
}

/** tablesort style **/
th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}
